{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-8">
    <h2>Usuario: {{user.name}}</h2>
    <a href="{% url 'inbox_create' user=user.id %}">Enviar mensaje</a>
    <div>
      <p>Total de productos publicados: {{user.count_products}}</p>
    </div>
  </div>
  <div class="col-4">
    <div>
      <h3>Productos publicados</h3>
      <div class="row">
        {% for product in products_published %}
          <div class="col-6">
            {% include 'products/_product_detail.html' %}
          </div>
        {% endfor %}
        <br/>
        {% if total_products_published > 4 %}
          <a href="{% url 'user_products' user_id=user.id %}">Ver todos</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
