{% extends 'base.html' %}
{% block content %}
<div class="row">
  {%if request.user.is_authenticated and request.user.id == user.id %}
  <div class="col-12">
    <div class="row">
      <div class="col-8 navbar navbar-expand-lg navbar-light bg-ligh" style="margin: 0 auto;">
        <ul class="navbar-nav mr-auto" style="margin: 0 auto;">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Mis datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inbox_index' %}">Mensajes privados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'requests_product_received' %}">Solicitudes de productos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-8">
    <h2>Usuario: {{user.name}}</h2>
    <a class="btn btn-primary" href="{% url 'inbox_create' user=user.id %}">Enviar mensaje</a>
    <div>
      <p>Total de productos publicados: {{total_products_published}}</p>
    </div>
  </div>
  <div class="col-4">
    <div>
      <h3>Productos publicados</h3>
      <div class="row">
        {% for product in products_published %}
          <div class="col-6">
            {% include 'products/_product_detail.html' %}
          </div>
        {% endfor %}
        <br/>
        {% if total_products_published > 4 %}
          <a href="{% url 'user_products' user_id=user.id %}">Ver todos</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
