{% extends 'base.html' %}
{% block content %}
<section class="container">
  <section class="row">
    <section class="col-12">
      <div class="row">
        <section class="col-12">
          <h2>¿Qué es Gratiferia?</h2>
          <p>Gratiferia es una feria donde todo es gratis, ya que no existe el trueque ni cambios por dinero (transacción comúnmente acostumbrada)</p>
          <p>En el evento, cualquier persona puede tomar lo que desee, o de igual manera, ocupar un espacio, sin ningún costo, para ofrecer los productos que se tengan para dar.</p>
          <p>La idea del evento como tal fue creada por Ariel Rodríguez Bosio, en Argentina, en el año 2010, con el objetivo de buscar romper la economía como se le conoce, disminuir la constante generación de "basura", y cambiar los hábitos consumistas.</p>
          <p>Cómo restricciones, no hay ninguno, salvo que los productos estén en buen estado, no se trata de llevar productos no útiles o en mal estado: "si está para arreglar, no está para la gratiferia, está para arreglar; si está para lavar, no está para la gratiferia, está para lavar; y si está para coser, no está para la gratiferia, está para coser".</p>
          <p>Después de varias ediciones, el evento como tal fue replicado en varios países, no solo en latinoamérica sino también en países europeos.</p>
          <p>En México Gratiferia ya está presente en algunas ciudades de México, incluyendo Tampico, Tamaulipas.</p>
          <br/>
          <h2>¿Qué es este sitio?</h2>
          <p>Este portal surge a raíz de la iniciativa realizada en {{CITY}}, {{STATE}} por {{OWNER}}, ciudadano el cual realizó la primera gratiferia en la ciudad.</p>
          <p>Al ver la iniciativa impulsada de manera local, se generó la idea de poder llevar el mismo mecanismo de Gratiferia a un sitio web, conservando las mismas reglas que Gratiferia.</p>
          <br/>
          <h2>¿Qué tipos de productos se pueden subir a este sitio?</h2>
          <p>Tanto en la plataforma como en el evento Gratiferia como tal, se puede ofrecer cualquier tipo de producto, siempre y cuando evite las 2 siguientes condiciones:</p>
          <p><b>1. Producto en mal estado</b>: Los productos que se entreguen deben de estar en condiciones favorables, sin estar roto, o descompuesto.</p>
          <p><b>2. Productos considerados ilegales o no apto para todo el público</b>: Armas, drogas, productos ilegales y productos catalogados de contenido sexual están prohibidos en la plataforma.</p>
          <p>Cualquier violación a alguno de las 2 condiciones mencionadas, será motivo de eliminación del producto, siendo en particular la segunda condición la eliminación del producto y la restricción de acceso al usuario registrado.</p>
          <br/>
          <h2>¿Te interesa participar?</h2>
          <p>Es muy sencillo, solo es cuestion de registrar un usuario con tu cuenta de Facebook, una vez hecho esto, tendras acceso a publicar un producto o solicitar uno.</p>
        </section>
        <section class="col-12">
          <div class="row">
            <div class="col-6">
              <h3>¿Te interesa asistir a alguna Gratiferia en Tampico</h3>
              <p>La plataforma tiene una función, pero es de vital importancia seguir inculcando los valores de gratiferia con eventos presenciales</p>
              <p>Encuentra más información acerca de Gratiferia en Tampico desde el siguiente <a href="https://www.facebook.com/groups/1694278880601248/?fref=ts" target="_blank">enlace</a></p>
            </div>
            <div class="col-6">
              <h3>¿Te interesa saber mas de Gratiferia desde una fuente oficial?</h3>
              <p>Gratiferia es un formato abierto y replicable con total libertad, no depende de un consejo para aprobar la replicación del evento.</p>
              <p>Si te interesa saber mas de Gratiferia como formato de evento puedes encontrar desde el portal creado por Ariel Rodríguez Bosio en el siguiente <a href="http://www.arcoirisuniversal.org/gratiferia.html" target="_blank">enlace</a></p>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</section>
{% endblock %}
