{% extends 'base.html' %}
{% block css %}
<style>
  .container-highlight-event{
    overflow: hidden; position: relative; min-height:250px; background: url('/static/img/bg_header.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;
    text-shadow: 0px 1px 0px #374683; font-weight: unset;
  }

  .background-degrade{
    position: absolute; z-index:1; background-color: rgba(0,0,0,0.3); color: #fff; position: absolute; top: 0; left: 0; width: 100%; min-height: 700px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Últimos productos publicados</h1>
  </div>
  <div class="row">
    {% for product in last_products %}
      <article class="col-4" style="padding:5px;">
        {% include 'products/_product_detail.html' %}
      </article>
    {% endfor %}
  </div>
</div>
<div class="row" style="margin-top: 50px; margin-bottom: 50px;">
  <div class="container">
    <div class="col-12">
      <h2>Próximo evento</h2>
    </div>
  </div>
  <div class="col-12 container-highlight-event">
    <div class="background-degrade"></div>
    <div class="row" style="position:absolute; z-index:2; width:100%;">
      <div class="col-12" style="color: white; text-align:center; padding-top: 50px;">
        <h3>{{last_event.date_event}}</h3>
        <br/>
        <p>Ubicación: {{last_event.address}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
