{% extends 'base.html' %}
{% block content %}
{% include 'messages.html' %}
<div class="row">
  <div class="col-12">
    <h2>Gratiferia el {{event.date_event}}</h2>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <p>Fecha</p>
            <p>{{event.get_date}}</p>
          </div>
          <div class="col-6">
            <p>Hora</p>
            <p>{{event.get_hour}}</p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{event.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>Compartir en redes sociales</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
