{% extends 'base.html' %}
{% block content %}
  <div class="row">
    {% include 'users/_nav_profile.html' %}
    <div class="col-1"></div>
    <div class="col-10">
      <p>
        <a href="{% url 'product_detail' slug=request_product.product.slug %}">{{request_product.product.name}}</a>
      </p>
      <p>{{request_product.product.status_label}}</p>
      {% if request_product.product.status == 'requested_not_confirmed' %}
      <p>Un usuario ha solicitado el producto, el dueño del producto deberá de confirmar si es posible la entrega del producto</p>
      {% endif %}
      {% if request_product.product.status == 'requested_confirmed' %}
      <p>El dueño del producto ha confirmado la posibilidad de entrega del producto, en espera a que el usuario y el dueño se pongan en contacto para la recepción del producto</p>
      {% endif %}
      {% if request_product.product.status == 'requested_deliver' %}
      <p>El dueño ha entregado el producto</p>
      {% endif %}
      {% if request_product.product.status == 'requested_not_confirmed' and request_product.product.author.id == request.user.id %}
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action_request" value="confirm_deliver">
        <input type="submit" value="Confirmar proceso de entrega"/>
      </form>
      {% elif request_product.product.status == 'requested_confirmed' and request_product.user.id == request.user.id %}
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action_request" value="confirm_received" />
        <input type="submit" value="Confirmar recepción del producto"/>
        <p>Confirmar la entrega del producto</p>
      </form>
      {% endif %}
      {% if request_product.product.status != 'requested_deliver'%}
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="action_request" value="cancel_request">
          <input type="submit" value="Cancelar solicitud del producto"/>
        </form>
      {% endif %}
    </div>
    <div class="col-1"></div>
  </div>
{% endblock %}
