{% extends 'base.html' %}
{% block content %}

  <div class="row">
    {% include 'users/_nav_profile.html' %}
    <div class="col-12">
      <h2>Solicitudes de productos recibidas</h2>
      {% for request in requests_product %}
      <p style="padding: 10px 30px;border: 1px solid #dfe2e5;">
        <a href="{% url 'requests_product_detail' id=request.id %}">{{request.product.name}}</a> <span>realizada por: </span> <span>{{request.user.name}}</span>
      </p>
      {% endfor %}
    </div>
    <div class="col-12">
      <h2>Solicitudes de productos realizadas</h2>
      {% for request in requests_product_made %}
      <p style="padding: 10px 30px;border: 1px solid #dfe2e5;"><a href="{% url 'requests_product_detail' id=request.id %}">{{request.product.name}}</a></p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
